.App{
  display: block;
  text-align: center;

}
.loginitem{
  padding: 60px 0;
  display: block;
  text-align: center;
}


.Login {
  padding: 60px 0;
}

.Login form {
  margin: 0 auto;
  max-width: 320px;
}
